*.xs linguist-language=Python
*.X_data filter=lfs diff=lfs merge=lfs -text
*.y_data filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
mmwave/.trans_model/* filter=lfs diff=lfs merge=lfs -text
mmwave/.conv_model/* filter=lfs diff=lfs merge=lfs -text
mmwave/.lstm_model/* filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
